@import url('https://fonts.googleapis.com/css?family=Product+Sans');
:root {
  --screen-width: calc(100vw - 16px);
  --alto: calc(var(--screen-width)/4.5);
  --botonalto: calc(var(--screen-width)/5);
}

.loginIndex {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Product Sans', sans-serif;
  }

.loginIndex .logologin{
    width: 30%;
}
.loginIndex .letraslogin{
    width: 40%;
}

.loginIndex .logocontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}