@import url('https://fonts.googleapis.com/css?family=Product+Sans');
:root {
  --screen-width: calc(100vw - 16px);
  --alto: calc(var(--screen-width)/4.5);
  --botonalto: calc(var(--screen-width)/5);
}

.Alerta {
  background-image: url('../../../assets/img/bgalerta.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 94px;
  font-family:'Product Sans', sans-serif;
  }

.Alerta #title{
  color:aliceblue;
  font-size: 54px;
  font-weight:600;
  letter-spacing: 4px;
  padding-left: 15px;
}
.Alerta #subtitle{
  color:aliceblue;
  font-size: 23px;
  letter-spacing: 0.2px;
  font-weight:500;
  margin-bottom: 10px;
}

.Alerta #alertacontainer{
  margin-top: 7.5%;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 19px;
  padding-top: 2%;
  padding-bottom: 40px;
  min-height:77dvh;
    
}

.nota{
  text-decoration: none;
  color:aliceblue;
  font-size: 15.5px;
  line-height: 1.1;
  padding-right: 4%;
  margin-bottom: 9px;
  margin-top: 20px;
  padding-left: 2%;

}

.botoncontainer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: calc(-2.4*var(--botonalto));
    left: 0;
    right: 0;
    width: 100%;
    height: var(--screen-width);
    background-color: #2141df;
    border-radius:  100% 100% 0 0;
}

#iconboton{
    margin-top: 7%;
    color:white;
}

input{
    background-color: rgba(255, 255, 255, 0.55);
    border: none;
    backdrop-filter: blur(3px);
    outline: none;
    font-size: 17px;
    color:black;
    padding: 10px 8px;
    border-radius: 12px;
    width: 93%;
    font-family:'Product Sans', sans-serif;
    margin-top: 3px;
    margin-bottom: 5px;
}
input::placeholder{
    color: black;
    font-size: 15px;
    font-weight:200;
}
textarea{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    backdrop-filter: blur(3px);
    outline: none;
    font-size: 17px;
    color:black;
    padding: 12px 7px 4px 12px;
    border-radius: 14px;
    width: 93%;
    resize: none;
    min-height: 55px;
    font-family:'Product Sans', sans-serif;
}
textarea::placeholder{
    color: black;
    font-size: 15px;
    font-weight:200;
}

.botonaplicar {
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    text-decoration: none;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 8px 15px;
    padding-right: 20px;
    min-width: 60px;
    margin-top: 10%;
    font-family:'Product Sans', sans-serif;
    letter-spacing: 0.4px;
  font-weight: 500;
  }

  