@import url('https://fonts.googleapis.com/css?family=Product+Sans');
:root {
  --screen-width: calc(100vw - 16px);
  --alto: calc(var(--screen-width)/4.5);
}

.Alerta {
  background-image: url('../../../assets/img/bgluces.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 94px;
  font-family:'Product Sans', sans-serif;
  }

.Alerta #title{
  color:aliceblue;
  font-size: 54px;
  font-weight:600;
  letter-spacing: 4px;
  padding-left: 15px;
}
.Alerta #subtitle{
  color:aliceblue;
  font-size: 26px;
  letter-spacing: 0.2px;
  font-weight:500;
}

.Alerta #alertacontainer{
  margin-top: 7.5%;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  padding-top: 14%;
  padding-bottom: 40px;
  min-height:77dvh;
    
}

.Alerta .btitle{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.9;
  margin-top: auto;
}

.Alerta .lucesAjustes {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #d9d9d9;
  text-decoration: none;
  color:black;
  font-size: 14px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  padding-left: 12px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -1px;
}


