@import url('https://fonts.googleapis.com/css?family=Product+Sans');
:root {
  --screen-width: calc(100vw - 16px);
  --alto: calc(var(--screen-width)/4.5);
}

.Puertas {
  background-image: url('../../../assets/img/bgpuertas.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 94px;
  font-family:'Product Sans', sans-serif;
  }

.Puertas #title{
  color:aliceblue;
  font-size: 54px;
  font-weight:600;
  letter-spacing: 4px;
  padding-left: 15px;
}
.Puertas #subtitle{
  color:aliceblue;
  font-size: 26px;
  letter-spacing: 0.2px;
  font-weight:500;
}

.Puertas #lucescontainer{
  margin-top: 7.5%;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  padding-top: 12%;
  padding-bottom: 40px;
  min-height:77dvh;
    
}
.Puertas #luzGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:min-content;
  grid-gap: 10px;
}

.Puertas .lucesBlock{
  display: flex;
  flex-direction: column;
}

.Puertas .lucesBotonOff {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  text-decoration: none;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 7px 12px;
  min-height: var(--alto);
  
  
}
.Puertas .lucesBotonOn {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  text-decoration: none;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 7px 12px;
  min-height: var(--alto);
}
.Puertas .btitle{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.9;
  margin-top: auto;
}

.Puertas .lucesAjustesOn {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ffffff;
  text-decoration: none;
  color:black;
  font-size: 14px;
  display: flex;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: 0px;
}

.Puertas .lucesAjustesOff {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color:black;
    font-size: 14px;
    display: flex;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 0px;
  }

.conbuttonsbig .bsubtitle{
  text-decoration: none;
  font-size: 15.5px;
  margin-right:auto;
  margin-bottom: 1.5%;
}

.closepuertas {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 7px;
    width: 50%;
    min-width: 150px;
    margin-bottom: 10%;
  }

  .closepuertas .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 100%;
}
.closepuertas .btitle{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 16.5px;
    margin-top: 5px;
}
.closepuertas .bsubtitle{
    text-decoration: none;
    color:black;
    font-size: 15.5px;
    margin-top: -1px;
}

.addBoton{
    background-color: aliceblue;
    display: flex;
    position: fixed;
    bottom: 10%;
    right: 9%;
    border-radius: 40px;
    justify-content: center;
    padding: 6px;
    color:#222;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.35);
  }